openapi: 3.0.3
info:
  title: PBI Enterprise API
  version: 1.0.0
  description: |
    Presence-Bound Identity (PBI) enterprise API:
    - issues action/artifact-bound challenges
    - verifies WebAuthn assertion bundles (UP+UV required)
    - emits receipts
    - meters usage and exposes invoices

servers:
  - url: https://api.kojib.com
  - url: http://localhost:8080

components:
  securitySchemes:
    ApiKeyBearer:
      type: http
      scheme: bearer
      bearerFormat: API_KEY

  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        issues:
          type: array
          items:
            type: object
      required: [error]

    Metering:
      type: object
      properties:
        month: { type: string, example: "2026-01" }
        used: { type: string, example: "42" }
        quota: { type: string, example: "100000" }
      required: [month, used, quota]

    PBIChallenge:
      type: object
      properties:
        id: { type: string, format: uuid }
        challengeB64Url: { type: string }
        purpose:
          type: string
          enum: [ACTION_COMMIT, ARTIFACT_AUTHORSHIP, EVIDENCE_SUBMIT, ADMIN_DANGEROUS_OP]
        actionHashHex: { type: string, pattern: "^[0-9a-f]{64}$" }
        expiresAtIso: { type: string, format: date-time }
      required: [id, challengeB64Url, purpose, actionHashHex, expiresAtIso]

    ChallengeRequest:
      type: object
      properties:
        purpose:
          type: string
          enum: [ACTION_COMMIT, ARTIFACT_AUTHORSHIP, EVIDENCE_SUBMIT, ADMIN_DANGEROUS_OP]
        kind:
          type: string
          description: Legacy alias for purpose (accepted for compatibility)
          enum: [ACTION_COMMIT, ARTIFACT_AUTHORSHIP, EVIDENCE_SUBMIT, ADMIN_DANGEROUS_OP]
        actionHashHex:
          type: string
          pattern: "^[0-9a-f]{64}$"
        ttlSeconds:
          type: integer
          minimum: 10
          maximum: 600
          default: 120
      required: [actionHashHex]

    ChallengeResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        challengeB64Url: { type: string }
        expiresAtIso: { type: string, format: date-time }
        purpose:
          type: string
          enum: [ACTION_COMMIT, ARTIFACT_AUTHORSHIP, EVIDENCE_SUBMIT, ADMIN_DANGEROUS_OP]
        actionHashHex: { type: string, pattern: "^[0-9a-f]{64}$" }
        challenge:
          $ref: "#/components/schemas/PBIChallenge"
        metering:
          $ref: "#/components/schemas/Metering"
      required: [id, challengeB64Url, expiresAtIso, purpose, actionHashHex, challenge]

    WebAuthnAssertionBundle:
      type: object
      properties:
        authenticatorDataB64Url: { type: string }
        clientDataJSONB64Url: { type: string }
        signatureB64Url: { type: string }
        credIdB64Url: { type: string }
        pubKeyPem: { type: string, description: "PEM encoded P-256 public key for verification (enterprise mode without enrollment)" }
      required: [authenticatorDataB64Url, clientDataJSONB64Url, signatureB64Url, credIdB64Url, pubKeyPem]

    VerifyRequest:
      type: object
      properties:
        challengeId: { type: string, format: uuid }
        assertion:
          $ref: "#/components/schemas/WebAuthnAssertionBundle"
      required: [challengeId, assertion]

    VerifyResponse:
      type: object
      properties:
        ok: { type: boolean }
        decision:
          type: string
          enum: [PBI_VERIFIED, FAILED, EXPIRED, REPLAYED]
        reason:
          type: string
          nullable: true
        receiptId: { type: string, format: uuid, nullable: true }
        receiptHashHex: { type: string, nullable: true }
        challenge:
          type: object
          properties:
            id: { type: string, format: uuid }
            purpose:
              type: string
              enum: [ACTION_COMMIT, ARTIFACT_AUTHORSHIP, EVIDENCE_SUBMIT, ADMIN_DANGEROUS_OP]
            actionHashHex: { type: string, pattern: "^[0-9a-f]{64}$" }
          required: [id, purpose, actionHashHex]
        metering:
          $ref: "#/components/schemas/Metering"
      required: [ok, decision]


    Receipt:
      type: object
      properties:
        id: { type: string, format: uuid }
        challengeId: { type: string, format: uuid }
        receiptHashHex: { type: string }
        decision:
          type: string
          enum: [PBI_VERIFIED, FAILED, EXPIRED, REPLAYED]
        createdAt: { type: string, format: date-time }
      required: [id, challengeId, receiptHashHex, decision, createdAt]

    ReceiptResponse:
      type: object
      properties:
        receipt:
          $ref: "#/components/schemas/Receipt"
        challenge:
          allOf:
            - $ref: "#/components/schemas/ChallengeStatus"
          nullable: true
      required: [receipt]

    ChallengeStatus:
      type: object
      properties:
        id: { type: string, format: uuid }
        purpose:
          type: string
          enum: [ACTION_COMMIT, ARTIFACT_AUTHORSHIP, EVIDENCE_SUBMIT, ADMIN_DANGEROUS_OP]
        actionHashHex: { type: string, pattern: "^[0-9a-f]{64}$" }
        expiresAtIso: { type: string, format: date-time }
        usedAtIso: { type: string, format: date-time, nullable: true }
        status:
          type: string
          enum: [active, expired, used]
      required: [id, purpose, actionHashHex, expiresAtIso, status]

    ChallengeStatusResponse:
      type: object
      properties:
        challenge:
          $ref: "#/components/schemas/ChallengeStatus"
      required: [challenge]

    ReceiptVerifyRequest:
      type: object
      properties:
        receiptId: { type: string, format: uuid }
        receiptHashHex: { type: string }
      required: [receiptId, receiptHashHex]

    ReceiptVerifyResponse:
      type: object
      properties:
        ok: { type: boolean }
        receipt:
          type: object
          properties:
            id: { type: string, format: uuid }
            challengeId: { type: string, format: uuid }
            decision:
              type: string
              enum: [PBI_VERIFIED, FAILED, EXPIRED, REPLAYED]
            createdAt: { type: string, format: date-time }
          required: [id, challengeId, decision, createdAt]
      required: [ok, receipt]

    ReceiptWithChallenge:
      type: object
      properties:
        receipt:
          $ref: "#/components/schemas/Receipt"
        challenge:
          $ref: "#/components/schemas/ChallengeStatus"
      required: [receipt, challenge]

    ReceiptListResponse:
      type: object
      properties:
        receipts:
          type: array
          items:
            $ref: "#/components/schemas/ReceiptWithChallenge"
        nextCursor:
          type: string
          nullable: true
      required: [receipts, nextCursor]

    UsageResponse:
      type: object
      properties:
        month: { type: string, example: "2026-01" }
        usage:
          type: object
          properties:
            challenge: { type: string, example: "123" }
            verify: { type: string, example: "120" }
          required: [challenge, verify]
      required: [month, usage]

    InvoicesResponse:
      type: object
      properties:
        invoices:
          type: array
          items:
            type: object
            properties:
              id: { type: string, format: uuid }
              month: { type: string }
              status: { type: string, enum: [open, final, paid] }
              totalCents: { type: string }
              lineItems: { type: object }
              createdAt: { type: string, format: date-time }
              finalizedAt: { type: string, format: date-time, nullable: true }
            required: [id, month, status, totalCents, lineItems, createdAt]
      required: [invoices]


security:
  - ApiKeyBearer: []

paths:
  /health:
    get:
      security: []
      summary: Health check
      responses:
        "200":
          description: OK

  /v1/pbi/challenge:
    post:
      summary: Create a PBI challenge bound to an action/artifact hash
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ChallengeRequest" }
      responses:
        "200":
          description: Challenge created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ChallengeResponse" }
        "400":
          description: Invalid request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "401":
          description: Missing API key
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Invalid API key
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "402":
          description: Quota exceeded
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /v1/pbi/verify:
    post:
      summary: Verify a WebAuthn assertion against a stored challenge and issue a receipt
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/VerifyRequest" }
      responses:
        "200":
          description: Verified
          content:
            application/json:
              schema: { $ref: "#/components/schemas/VerifyResponse" }
        "400":
          description: Failed / expired / replayed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/VerifyResponse" }
        "402":
          description: Quota exceeded
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Challenge not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /v1/pbi/challenges/{challengeId}:
    get:
      summary: Fetch challenge status
      parameters:
        - in: path
          name: challengeId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Challenge status
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ChallengeStatusResponse" }
        "404":
          description: Challenge not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /v1/pbi/challenges/{challengeId}/receipt:
    get:
      summary: Fetch receipt for a challenge
      parameters:
        - in: path
          name: challengeId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Receipt
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ReceiptResponse" }
        "404":
          description: Receipt not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /v1/pbi/receipts:
    get:
      summary: List receipts with challenge details (for audit/export)
      parameters:
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - in: query
          name: cursor
          required: false
          description: Pagination cursor in the format <ISO8601>|<receiptId>
          schema:
            type: string
        - in: query
          name: actionHashHex
          required: false
          schema:
            type: string
            pattern: "^[0-9a-f]{64}$"
        - in: query
          name: challengeId
          required: false
          schema:
            type: string
            format: uuid
        - in: query
          name: purpose
          required: false
          schema:
            type: string
            enum: [ACTION_COMMIT, ARTIFACT_AUTHORSHIP, EVIDENCE_SUBMIT, ADMIN_DANGEROUS_OP]
        - in: query
          name: decision
          required: false
          schema:
            type: string
            enum: [PBI_VERIFIED, FAILED, EXPIRED, REPLAYED]
      responses:
        "200":
          description: Receipt list
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ReceiptListResponse" }
        "400":
          description: Invalid query
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /v1/pbi/receipts/{receiptId}:
    get:
      summary: Fetch a receipt by id
      parameters:
        - in: path
          name: receiptId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Receipt
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ReceiptResponse" }
        "400":
          description: Invalid receipt id
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Receipt not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /v1/pbi/receipts/verify:
    post:
      summary: Verify a receipt hash against stored receipt data
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ReceiptVerifyRequest" }
      responses:
        "200":
          description: Receipt verification result
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ReceiptVerifyResponse" }
        "400":
          description: Invalid request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Receipt not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /v1/billing/usage:
    get:
      summary: Usage for current or requested month
      parameters:
        - in: query
          name: month
          required: false
          schema:
            type: string
            pattern: "^[0-9]{4}-[0-9]{2}$"
      responses:
        "200":
          description: Usage
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UsageResponse" }

  /v1/billing/invoices:
    get:
      summary: List recent invoices
      responses:
        "200":
          description: Invoices
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InvoicesResponse" }
